.header {
	margin: 20px 0;
	&-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__phone {
		display: flex;
		flex-direction: column;
		text-align: right;
	}

	&__number {
		text-decoration: none;
		color: $blackColor;
		font-size: 24px;
		font-weight: 700;
		margin-bottom: 10px;
	}

	&__book {
		color: $secColor;
		font-weight: 500;
	}
}