.benefits {
	position: relative;

	&-title {
		margin: 80px 0;
		text-align: center;
		color: $blackColor;
		font-size: 36px;
		font-weight: 700;
	}

	&-arrow{
		&-1 {
			position: absolute;
			top:8%;
			left:43%;
		}

		&-2 {
			position: absolute;
			top: 38%;
			left: 39%;
		}

		&-3 {
			position: absolute;
			top: 73%;
			right: 43%;
		}

	}

	&-item {
		display: flex;
		justify-content: space-around;
		margin-bottom: 145px;

		&:last-child{
			margin-bottom: 100px;
		}

	}

	&-subtitle {
		padding: 70px 0 35px;
		width: 376px;
		color: $mainColor;
		font-size: 30px;
		font-weight: 700;
	}

	&-text {
		line-height: 1.4;
		width: 385px;
		color: $blackColor;
		font-size: 18px;
		font-weight: 300;
	}
}