@import 'variables';
@import 'fonts';
@import 'header';
@import 'main-screen';
@import 'benefits';
@import 'discount';


body {
	font-family: $fontFamily;
}

.container {
	max-width: 940px;
	margin: 0 auto;
}

h1, h2 {
	margin: 0;
}