.none {
  display: none;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

@font-face {
  font-family: 'Museo Sans';
  src: url("../fonts/MuseoSans-300.woff2") format("woff2"), url("MuseoSans-300.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans';
  src: url("../fonts/MuseoSans-500.woff2") format("woff2"), url("MuseoSans-500.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans';
  src: url("../fonts/MuseoSans-700.woff2") format("woff2"), url("MuseoSans-700.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.header {
  margin: 20px 0;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
}

.header__number {
  text-decoration: none;
  color: #535353;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.header__book {
  color: #5892a6;
  font-weight: 500;
}

.main-screen {
  background-image: url("../images/bg/main-bg.png");
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 60px;
}

.main-screen-wrapper {
  margin-left: 406px;
  width: 595px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-title {
  color: #535353;
  font-size: 41px;
  font-weight: 700;
  margin: 80px 0 20px;
}

.main-subtitle {
  color: #5892a6;
  font-size: 27px;
  font-weight: 500;
  margin-bottom: 65px;
}

.recall-block {
  text-align: center;
  width: 300px;
  height: 240px;
  -webkit-box-shadow: 0 0 38px rgba(104, 176, 201, 0.34);
          box-shadow: 0 0 38px rgba(104, 176, 201, 0.34);
  border-radius: 20px;
  margin-left: 185px;
}

.recall-title {
  padding: 40px 0 14px;
  color: #5892a6;
  font-size: 20px;
  font-weight: 700;
}

.recall-subtitle {
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 20px;
}

.recall-number {
  margin-bottom: 12px;
  width: 220px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #e8e8e8;
}

.recall-number::-webkit-input-placeholder {
  text-align: center;
  color: #9c9c9c;
  font-size: 13px;
  font-weight: 500;
}

.recall-number:-ms-input-placeholder {
  text-align: center;
  color: #9c9c9c;
  font-size: 13px;
  font-weight: 500;
}

.recall-number::-ms-input-placeholder {
  text-align: center;
  color: #9c9c9c;
  font-size: 13px;
  font-weight: 500;
}

.recall-number::placeholder {
  text-align: center;
  color: #9c9c9c;
  font-size: 13px;
  font-weight: 500;
}

.recall-btn_link {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
}

.benefits {
  position: relative;
}

.benefits-arrow-1 {
  margin-top: 80px;
  position: absolute;
  top: -40%;
  left: 43%;
}

.benefits-arrow-2 {
  position: absolute;
  top: -9%;
  left: 39%;
}

.benefits-arrow-3 {
  position: absolute;
  top: 0;
  right: 43%;
}

.benefits-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 145px;
}

.benefits-item:last-child {
  margin-bottom: 100px;
}

.benefits-subtitle {
  padding: 70px 0 35px;
  width: 376px;
  color: #68b0c9;
  font-size: 30px;
  font-weight: 700;
}

.benefits-text {
  line-height: 1.4;
  width: 385px;
  color: #535353;
  font-size: 18px;
  font-weight: 300;
}

.discount {
  position: relative;
  background-image: url("../images/bg/disc-bg.png");
  background-position: center top;
  background-size: cover;
}

.discount-btn {
  margin-left: 32px;
}

.discount-btn_link {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.discount-title {
  padding-top: 70px;
  width: 260px;
  height: 125px;
  text-align: center;
  margin-left: auto;
  color: #535353;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.discount-title span {
  color: #68b0c9;
  font-size: 24px;
}

.discount-form {
  margin-left: auto;
  margin-top: 100px;
  width: 275px;
  height: 200px;
  border-radius: 23px;
  border: 5px solid #ffffff;
}

.discount-form-wrapper {
  padding-bottom: 50px;
}

.discount-price {
  top: 26%;
  right: 46%;
}

.discount-price__first {
  padding-top: 40px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e8e8e8;
  color: #1e1e1e;
  font-size: 18px;
  font-weight: 400;
  text-decoration: line-through;
}

.discount-price__second {
  padding-top: 10px;
  color: #d04545;
  font-size: 30px;
  font-weight: 700;
}

.discount-date {
  padding: 45px 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  color: #d35656;
  font-weight: 700;
}

.discount-date-left {
  display: block;
  width: 84px;
  margin-right: 15px;
}

.discount-date-right {
  margin-left: 15px;
}

.discount-date span {
  top: 37%;
  left: 49%;
  position: absolute;
  color: #fff;
  font-size: 30px;
  width: 17px;
  height: 22px;
}

.arrow-circled {
  position: absolute;
  top: 62%;
  right: 39%;
}

.stats {
  margin: 70px 0;
}

.stats-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stats__item {
  background-image: url("../images/icons/icon-armchair.svg");
  background-repeat: no-repeat;
  background-position: center top;
}

.stats__number {
  padding-top: 32px;
  margin-bottom: 30px;
  text-align: center;
  color: #68b0c9;
  font-size: 47px;
  font-weight: 700;
  line-height: 41px;
}

.stats__text {
  text-align: center;
  color: #535353;
  font-size: 18px;
  font-weight: 500;
}

.sertificate {
  padding-bottom: 90px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f9fbfd), to(#ecf3f8));
  background-image: linear-gradient(to bottom, #f9fbfd 0%, #ecf3f8 100%);
}

.sertificate-text {
  width: 377px;
  color: #323232;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}

.sertificate-text:last-child {
  margin: 0;
}

.sertificate-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sertificate-conformity {
  padding-left: 150px;
}

.sertificate-conformity-title {
  width: 396px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.sertificate-conformity-title h3 {
  color: #68b0c9;
  font-size: 22px;
  font-weight: 700;
}

.sertificate-conformity-top img {
  margin-right: 20px;
}

.advantages {
  position: relative;
  margin: 90px 0 70px;
}

.advantages-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.advantages-title {
  color: #68b0c9;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

.advantages-text {
  width: 239px;
}

.advantages-text-top {
  margin-bottom: 100px;
}

.advantages-desc {
  color: #606060;
  font-size: 14px;
  font-weight: 300;
}

.deliver {
  margin-bottom: 62px;
  position: relative;
  height: 350px;
  background-image: url("../images/bg/deliver-bg.png");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.deliver-button {
  margin-bottom: 80px;
  width: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.deliver-button-link {
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
}

.deliver-column input {
  margin-bottom: 17px;
  text-align: center;
  width: 220px;
  height: 46px;
  border-radius: 20px;
  border: 1px solid #d5e4ef;
  background-color: #ffffff;
}

.deliver-column input::-webkit-input-placeholder {
  color: #9c9c9c;
  font-size: 13px;
  font-weight: 500;
}

.deliver-column input:-ms-input-placeholder {
  color: #9c9c9c;
  font-size: 13px;
  font-weight: 500;
}

.deliver-column input::-ms-input-placeholder {
  color: #9c9c9c;
  font-size: 13px;
  font-weight: 500;
}

.deliver-column input::placeholder {
  color: #9c9c9c;
  font-size: 13px;
  font-weight: 500;
}

.deliver-discount {
  padding: 13px 0 10px;
  color: #68b0c9;
  font-size: 17px;
  font-weight: 700;
  line-height: 47px;
}

.deliver-title {
  text-align: center;
  margin: 60px 0 30px;
  width: 230px;
  line-height: 1.7;
  color: #535353;
  font-size: 20px;
  font-weight: 700;
}

.deliver-title span {
  padding: 5px 4px;
  color: #68b0c9;
  background-color: #fff;
}

.deliver-price-circle {
  top: 30%;
  left: 23%;
}

.deliver-price-first {
  padding-bottom: 18px;
  color: #1e1e1e;
  font-size: 14px;
  font-weight: 300;
  text-decoration: line-through;
}

.deliver-price-second {
  color: #d04545;
  font-size: 24px;
  font-weight: 700;
}

.deliver-column-price {
  width: 1000px;
}

.deliver-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.difference {
  margin-bottom: 80px;
}

.difference-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.difference-item p {
  width: 208px;
  height: 67px;
  color: #939393;
  font-size: 15px;
  font-weight: 700;
}

.difference-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.difference-title {
  margin-bottom: 35px;
  padding-left: 345px;
  width: 90px;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #535353;
  font-size: 22px;
  font-weight: 700;
}

.difference-title span {
  text-align: left;
  margin-left: 60px;
  width: 149px;
  color: #68b0c9;
}

.adress {
  background-color: #ecf3f8;
}

.adress-btn a {
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

.adress-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.adress-choice {
  color: blackColor;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 20px;
}

.adress-right {
  text-align: center;
  margin: 80px 0;
}

.adress-left {
  margin: 50px 0;
}

.adress-title {
  margin-bottom: 50px;
  width: 271px;
  color: #68b0c9;
  font-size: 20px;
  font-weight: 700;
}

.adress-subtitle {
  margin: 20px 0;
  color: #535353;
  font-size: 16px;
  font-weight: 300;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 300px;
  height: 240px;
  border-radius: 25px;
}

.modal-response {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-response-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 300px;
  height: 140px;
  border-radius: 25px;
}

.modal-response-content .close__subtitle {
  width: 180px;
  margin: 0 auto;
}

/* The Close Button */
.close {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  color: #5ea5bd;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close__form {
  text-align: center;
}

.close__form-tel {
  margin-bottom: 30px;
  outline: none;
  text-align: center;
  padding: 10px 30px;
  border-radius: 15px;
  border: 3px solid #efefef;
}

.close__form-tel::-webkit-input-placeholder {
  color: #9c9c9c;
  font-weight: 500;
  font-size: 13px;
  text-align: center;
}

.close__form-tel:-ms-input-placeholder {
  color: #9c9c9c;
  font-weight: 500;
  font-size: 13px;
  text-align: center;
}

.close__form-tel::-ms-input-placeholder {
  color: #9c9c9c;
  font-weight: 500;
  font-size: 13px;
  text-align: center;
}

.close__form-tel::placeholder {
  color: #9c9c9c;
  font-weight: 500;
  font-size: 13px;
  text-align: center;
}

.close__form-btn {
  border-radius: 15px;
  background-color: #68b0c9;
  padding: 12px 53px;
  color: #fff;
  text-decoration: none;
}

.close__form-btn:hover {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
  cursor: pointer;
  background-color: #3f87a0;
}

.close__title {
  font-size: 20px;
  color: #5892a6;
  text-align: center;
  margin: 40px 0 15px;
  font-weight: 700;
}

.close__subtitle {
  text-align: center;
  font-size: 12px;
  font-weight: 300;
  color: #303030;
  margin-bottom: 17px;
}

.close:hover, .close:focus {
  color: #356d80;
  text-decoration: none;
  cursor: pointer;
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-logo {
  padding: 20px 0;
}

.footer-privacy a {
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
  color: #68b0c9;
  font-weight: 300;
}

.footer-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-phone a {
  text-decoration: none;
  color: #505050;
  line-height: 1.5;
}

body {
  font-family: "Museo Sans", sans-serif;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

.animated {
  opacity: 0;
}

h1,
h2 {
  margin: 0;
}

.btn {
  width: 220px;
  height: 45px;
  -webkit-box-shadow: 0 5px 5px rgba(1, 1, 1, 0.1);
          box-shadow: 0 5px 5px rgba(1, 1, 1, 0.1);
  border-radius: 23px;
  background-color: #68b0c9;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.btn:hover {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
  cursor: pointer;
  background-color: #3f87a0;
}

.title {
  text-align: center;
  color: #535353;
  font-size: 36px;
  font-weight: 700;
  padding: 80px 0;
}

.line-1 {
  position: absolute;
  top: 1%;
  left: 36%;
}

.line-2 {
  position: absolute;
  top: 44%;
  left: 36%;
}

.line-3 {
  position: absolute;
  top: -10%;
  right: 37%;
}

.line-4 {
  top: 70%;
  right: 36%;
  position: absolute;
}

.price-circle {
  position: absolute;
  width: 150px;
  height: 150px;
  background-color: #ffffff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
